
body {
    width: 700px;
}
#body{
    overflow-y: scroll;
    height: 535px;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}

.target-interval-time {
    height: 34px;
    display: table-cell;
    vertical-align: middle;
}

.target-interval-time input {
}

.target-interval-week {
    width: 14px;
    display: table-cell;
    padding: 2px;
}

.target-interval-week input {
    margin: 0;
}

.header,.row{
    display: table-header-group;
}
.header * {
    font-weight: bold;
}
.header *, .target *{
    display: table-cell;
    padding: 2px;
    border: 1px #1a1c21 solid;
}
.target * *{
    border: 0;
}
.target-accordion{
    width: 20px;
}
.target-type{
    width: 400px;
    vertical-align: middle;
}
.target-type *{
    width: 100%;
    height: 100%;
    display: block;
}
.target-operation{
    width: 210px;
}
.notification{
    margin-left: 8px;
    width: 600px;
}

.title{
    display: table-cell;
    width: 400px;
    font-size: 170%;
    font-weight: bold;
}
#notification_edit{
    font-size: 130%;
    font-weight: bold;
    padding: 2px;
    width: 210px;
    background-color: lightsalmon;
}
#setting {
    width: 46px;
    font-size: 130%;
    font-weight: bold;
    background-color: gainsboro;
    padding: 2px;
}
.target-highlight *{
    background-color: #ffa000;
}
.target-index::before{
    content: attr(data-index);
    font-weight: bold;
}
.target-index[data-index='00']{
    visibility: hidden;
}
.target-index{
    display: inline-block;
}
.target{
    margin-bottom: 8px;
}
.operation-row{
    display: table;
    table-layout: auto;
    text-align: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.operation-row *{
    display: table-cell;
    vertical-align: middle;
}
.operation-row *:hover{
    color: #0080ff;
}