.NicorepoItem-item{
    overflow: initial !important;
}
.NicorepoTimeline-item{
    overflow: initial !important;
}
[data-title]:not([disabled]) {
    z-index: 1;
}
.WatchLaterButton-button.is-succeeded[data-title]:after {
    opacity: 1;
    background-color: #007cff;
    border: 0;
    transition: none;
    width: auto;
}
.WatchLaterButton-button.is-failed[data-title]:after {
    opacity: 1;
    background-color: #ff9f00;
    border: 0;
    transition: none;
    width: auto;
}