body {
    width: 700px;
}
.target-interval-time {
    height: 34px;
    display: table-cell;
    vertical-align: middle;
}

.target-interval-time input {
}

.target-interval-week {
    width: 14px;
    display: table-cell;
    padding: 2px;
}

.target-interval-week input {
    margin: 0;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.target-value label::before{
    content: "\A";
    white-space: pre;
}

.readonly {
    cursor: default;
    background-color: rgba(59, 59, 59, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
}
.target-type label {
    vertical-align: text-bottom;
    padding-left: 8px;
}
.target-type label:not(:first-child){
    border-left: black solid;
    border-width: thin;
    margin-left: 8px;
}